---
import Layout from '../layouts/Layout.astro'
import StoreInput from '@/components/StoreInput.tsx'
---

<Layout>
	<main>
		<section class="flex flex-col items-center justify-center gap-4 px-4 py-16 text-center">
			<h1 class="text-4xl font-bold">
				Welcome to RedeemZone
			</h1>
			<p class="text-xl">
				A store for streamers where viewers redeem channel points for rewards.
			</p>
			<div class="min-w-sm mt-10 flex flex-col gap-2">
				<p class="text-lg text-muted-foreground">
					Search an streamer store
				</p>
				<StoreInput client:idle />
			</div>
		</section>
	</main>
</Layout>
