---
import Layout from '@/layouts/Panel.astro'
import EditStore from '@/components/panel/EditStore.tsx'
import EditCoins from '@/components/panel/EditCoins.tsx'

const user = await Astro.locals.currentUser()
const storeId = user?.publicMetadata?.yourStoreId
const store = await fetch(`${Astro.url.origin}/api/store?storeId=${storeId}`).then(res => res.json())
---

<Layout>
  <div class="p-6 flex-1 flex flex-col gap-8">
    <EditStore client:idle store={store} />
    <EditCoins client:idle store={store} />
  </div>
</Layout>
